<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/myitems.css">
    <title>My Items</title>
</head>
<body>
    <% include ../partials/header.ejs%>
    <% include ../partials/user-navigation.ejs%>

    

        <main>
            <div class="section">
    
                <ul class="breadcrumb">
                    <li><a href="index">Home</a></li>
                    <li><a href="myitems">My games</a></li>
                </ul>
                
                <% if(typeof session==='undefined'){%>
                   <div id="beforelogin"> <p>please <span><a href="/login">login</a></span> to view mygames</div>
                <%}
                else{%>

                
                <h2><%=  Userfname%> games for swap</h2> <br>
           
                    
                        
               <div class="swaptable">
                      
                      <table  >
                          <tr>
                                <th >Game</th>
                                <th >category</th>
                                <th >My Rating</th>
                                <th >Swapped</th>
                                <th >Edit</th>
                          </tr>
                          <% if(allitems.length==0){%>

                                <tr id="lastrow">
                                    <td colspan="5"  id="lastrow"><input class='message' type='text' name='msgfornoitems' value='no items to display' readonly></td>
                                </tr>
                    
                            <% }
                            else{%>
                            
                         
                           <% for (var i=0;i< allitems.length;i++)
                          {%>
                          <tr id="lastrow">
                                <td><a href="items?itemcode=<%= allitems[i].itemcode.trim()%>"><%= allitems[i].itemsname.trim()%></a></td>
                                <td><a href="categories?catalogcategory=<%= allitems[i].catalogcategoryurl.trim()%>"><%= allitems[i].catalogcategory.trim()%></a></td>
                                <td class="stars">
                                <% for(var j=1; j <= Math.floor(allitems[i].rating);j++){%>
                                   
                                   <span>&#9733;</span>
                                   
                                <%} 
                                if(Math.round( allitems[i].rating*2)/2-Math.floor( allitems[i].rating)==0.5){%>
                                    
                                    <span class="halfstar">&#x2605;</label>
                                    
                                <%}
                                <!-- fill rated stars -->
                                for(var j= allitems[i].rating+1; j<=5;j++){%>
                                   <span>☆</span>
                                   
                                <%}%>
                                 
                                </td>
                                <% if(allitems[i].itemstatus=='pending'){%>
                                <td id="tick"><div >🔁</div></td> <% }
                                 else if (allitems[i].itemstatus=='swapped') {%>
                                    <td id="tick"><div >✔️</div></td> <% }
                                else {%>
                                    <td id="tick"><div ></div></td> <% }%>
                                <td>
                                    <form action="action?theItem=<%= allitems[i].itemcode.trim()%>" method="POST">
                                    <input type="hidden" name="itemList" value="<%= allitems[i].itemcode.trim()%>">
                                    <input class="update" type="submit" name="action" value="update"  > 
                                    <input class="update" type="submit" name="action" value="delete" >
                                </form> 
                                  </td>
                          </tr>
                        <%}%>
                    <%}%>
                    
                        </table>
                    </div>
                
                    
                   
              
              <p>🔁: Swap offer pending, ✔️: already swapped</p>
            <%}%>
        </div>
    
        </main>
            <aside>
            <%include ../partials/site-navigation.ejs%>
               
            </aside>
    
            <% include ../partials/footer.ejs%>
        
       
</body>
</html>